<h1>Listing Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Tema</th>
      <th>Datahora</th>
      <th>Sala</th>
      <th>Discipline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.tema %></td>
        <td><%= lesson.datahora %></td>
        <td><%= lesson.sala %></td>
        <td><%= lesson.Discipline %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
