<p>
  <strong>Nome:</strong>
  <%= @activity.nome %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @activity.Discipline.try(:nome) %>
</p>


<p>
  <strong>Data:</strong>
  <%= @activity.data %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
